<h1>Chirper</h1>
<p>This is Chirper, a fun way to post short messages on ze web!!</p>
<br>
<br> 
<p> This is Astrid. Today she coached me on how to use ruby on rails at the Rails Girls workshop in Houston! We built this today. Hooray! </p>
<br>
<img src = "https://photos-5.dropbox.com/t/1/AABnS-MhhEm1pTH8vVUJYdczAMICg6PJKkCMeZKgJRFChg/12/324700771/jpeg/1024x768/3/1414281600/0/2/IMG_20141025_161539.jpg/MAqqefRbbljMuaP_QAX9ong3aeOVWzOlPhnVgb8YCHg" > 